[Desktop Entry]
Name=Sweep
GenericName=Sound Editor
Comment=Sweep Sound Editor
Categories=Application;AudioVideo;
Encoding=UTF-8
Exec=sweep
Icon=sweep.svg
MimeType=audio/x-wav
Terminal=false
Type=Application
