[Desktop Entry]
Name=Sweep
GenericName=Sound Editor
Comment=Sweep Sound Editor
Encoding=Legacy-Mixed
Exec=sweep
Icon=sweep.svg
MimeType=audio/x-wav
Terminal=false
Type=Application
Categories=GTK;Application;Music;Audio;Recorder;Player;
